body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100;
    /* line-height: 1; */
}

.jumbotron {
    text-align: center;
    background-color: darkcyan;
    color: white;

}

.child {
    width: 100%;
    margin-bottom: 5px;
}

.btn {
    border-left: 1px solid black;
    /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
    background-color: #06AED5;
    color: white;
  }
  
  .btn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  