body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 00px;
    /* line-height: 1; */
}

.jumbotron {
  text-align: center;
  background-color: darkcyan;
  color: white;

}

.row {
  height: 300px;
  margin-bottom: 5px;
}

h2 {
  font-weight: bold;
  margin: 15px;
  padding: 10px;
}

h3 {
  font-weight: bold;
  margin: 15px;
  padding: 10px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  padding: 10px;
}

.search-input {
  margin: 10px;
  padding: 5px;
  width: 440px;
}

.btn {
  border-left: 1px solid black;
  margin: 0 10px;
  padding: 5px;
  width: 440px;
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  background-color: #06AED5;
  color: white;
}

.btn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#result-city-name {
  width: 100%;
}


.five-day-title {
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
}

#five-day-forcast {
  display: inline-flex;
}

.results {

  width: fit-content;
  height: 300px;
}

.results-humidity {
  display: inline;
}