body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 00px;
}

/* Header Style */
.jumbotron {
  text-align: center;
  background-color: darkcyan;
  color: white;
  margin: 0;
}

/* Base style start */
.row {
  height: 300px;
  margin-bottom: 5px;
}

h2 {
  font-weight: bold;
  margin: 15px;
  padding: 10px;
}

h3 {
  font-weight: bold;
  margin: 15px;
  padding: 10px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  padding: 10px;
}

/* Search style start */
.search-input {
  margin: 10px;
  padding: 5px;
  height: 50px;
  width: 440px;
  border-radius: 5px;
}

.btn-primary {
  /* border-left: 1px solid black;
  border-radius: 5px; */
  margin: 0 10px 40px 10px !important;
  /* padding: 5px;
  width: 440px; */
  background-color: #06AED5 !important;
  /* color: white; */
}

.btn {
  filter: brightness(90%);
  border-left: 1px solid black;
  margin: 0 10px 20px 10px;
  padding: 5px;
  width: 440px;
  background-color: #4d99aa;
  color: white;
}
.btn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  filter: brightness(100%);
}

#past-search-bar {
  width: 440px;
  height: 5px;
  margin: 0 0 0 10px;
  padding: 5px;
  border-top: 5px solid olivedrab;
}

/* Results sectionstyle start */
.results-box {
  border: 5px solid olivedrab;
}

#result-city-name {
  width: 100%;
}

#results-temp, #results-wind, #results-humidity, #results-uv-index {
  margin-bottom: 4px;
  padding: 0;
  color: black !important;
  display: flex;
} 

#uv-div {
  width: fit-content;
  padding: 1px 15px;
  border-radius: 5%;
  margin-left: 5px;
}
.five-day-title {
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
}

#five-day-forcast {
  flex: 1;
  display: inline-flex;
  justify-content: space-around;
}

.results {
  width: fit-content;
  height: 300px;
}

.results-humidity {
  display: inline;
}

/* Five day results style start */
#day-one, #day-two, #day-three, #day-four, #day-five {
  padding-top: 5px;
  background-color: darkgreen;
  height: 250px;
  width: 200px;
}

#one-day-header, #two-day-header, #three-day-header, #four-day-header, #five-day-header {
  color: aliceblue;
}
ul {
  margin-top: 6px;
  height: 100%;
}

ol {
  margin-bottom: 5px;
  color: aliceblue;
}

.img {
  position: center;
}

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 10px;
  padding: 0;
}